@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Variable';
  src: url('/fonts/geist-v.woff2') format('woff2-variations');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

html {
  font-family:
    'Geist Variable',
    system-ui,
    -apple-system,
    Roboto,
    sans-serif;
}
